<h1>About the Party Manager</h1>

<p>This Party Manager application was built for an Application Design and Development project at Carnegie
Mellon University. While this application was built for educational purposes, we encourage you to use it
if you find a need to. This application allows someone to easily plan and manage a party.</p>