<h1>Privacy Policy</h1>

<p>We will never give out any of your information if you are a registered site member. However, if you
are not registered and manage to hack your way into the site and create parties, we will track you down and you will pay.</p>